*{
  box-sizing: border-box;
}

.container{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
body{
  background: lightgrey;
  margin: 0;
  padding: 0;
}
.header{
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
}

.brand{
  flex: 50%;
  min-width: 400px;
}


h1 a{
  font-size: 50px;
  font-weight: 100;
  color: #561BCD;
  text-decoration: none;
}

.searchBox{
  flex: 50%;
  background: linear-gradient(grey, skyblue);
  min-width: 400px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit{
  float: right;
  padding: 5px;
  font-weight: bold;
  color: white;
  background: lightgrey;
  font-size: 12px;
}

.text{
  float: left;
  width: 200px;
  padding: 5px;
  font-size: 10px;
  color: blue;
  background: white url(images/search.png) right center no-repeat;
}

.clear{
  clear: both;
}

ul{
  list-style: none;
}

.menu{
/*    height: 150px;*/
    background: linear-gradient(aqua, seashell);
    background: -webkit-linear-gradient(aqua, seashell);
    background: -o-linear-gradient(aqua, seashell);
    background: -moz-linear-gradient(aqua, seashell);
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
}


.menu a{
    /*    float: left;*/
    padding: 0 30px;
    border-right: 3px solid #5d12e7;
}

.menu a:last-child{
    border-right: none;
}

.menu a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color: black;
    line-height: 30px;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
}

.menu a:hover, .menu a.active{
    font-size: 20px;
    font-weight: bold;
    color: gray;
}
/* small screen : vertical menu */
@media screen and (max-width: 700px){
  .menu {
    flex-direction: column;
    align-content: center;
  }
  .menu a{
    border-right: none;
  }
}

.intro{
  background: linear-gradient(lightgrey, grey);
  color: black;
  transition: font-size 0.3s linear;
  padding: 30px;
  margin: 25px 0;
}

.intro h1{
  font-size: 40px;

}

.intro:hover{
  font-size: 19px;
}

.intro p{
  text-align: justify;
}

.sidebars{
  display: flex;
  flex-wrap: wrap;
}
.sidebarWrapper{
  flex: 50%;
  padding: 5px;
}
.sidebar{
  height: 100%;
  width: 100%;
  border: 1px solid black;
  border-radius: 20px;
  
  /* flex: 50%; */
}

.sidebar h3{
  font-size: 30px;
  color: purple;
}

.sidebar ul li a{
  text-decoration: none;
  transition: font-size 0.4s linear;
}

.sidebar ul li a:hover{
  font-size: 25px;
  color: black;
  font-weight: bold;
}

.sidebar ul li{
  padding-bottom: 15px;
  font-size: 15px;

}

#leftsidebar ul li{
  list-style-image: url(images/arrow.png.png);
}

#rightsidebar ul li{
  list-style-image: url(images/done.png);
}

.footer {
  height: 60px;
  background: linear-gradient(lightgrey, grey);
  padding: 20px 30px;
  margin-top: auto;
}

.footer p{
  text-align: center;
}
