*{
  box-sizing: border-box;
}

.container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.column:nth-child(1){
  background-color: pink;
  align-items: center;
}
.column:nth-child(2){
  background-color: green;
}

.column:nth-child(3){
  background-color: yellow;
}

.column:nth-child(4){
  background-color: purple;
}

img{
  width: 300px;
  height: 300px;
  padding: 10px 10px;
  align: center;

}
