.jumbotron {
  background: url(https://freenaturestock.s3.us-east-1.amazonaws.com/1664.jpg) center center;
  background-size: 100% 100%;
  height: 600px;
}

.logo{
  height: 80px;
  width: 80px;
}

.featured{
  color: black;
}

.featured h1{
  padding-top: 60px;
}

.btn-default{
  font-weight: bold;
  color: black;
  background-color: rgba(255,255,255, 0.5);
  margin-right: 15px;
}

.btn-default:hover{
  background-color: rgba(255,255,255, 1);
}

.youtube{
  display: block;
  text-align: center;
  padding: 20px 0 40px 0;
  margin-left: auto;
  margin-right: auto;
  color: black;
}

.youtube iframe{
  width: 300px;
  height: 10px;
  margin: 20px;
}

.footer{
  background-color: burlywood;
  font-size: 15px;
  padding: 10px 0;
}

@media (min-width:400px) and (max-width: 760px){
  .jumbotron{
    height: 410px;
    margin: 0;
  }

  .logo{
    width: 50px;
    height: 50px;
  }
  .featured h1{
    padding-top: 30px;
  }
  .featured p{
    font-size: 17px;
  }
  .featured{
    text-align: center;
  }
}

.youtube{
  text-align: center;
  padding: 20px 0 40px 0;
  color: black;
}

.youtube img{
  width: 200px;
  height: 70px;
  margin: 20px;
}

@media (max-width: 760px){
  .jumbotron{
    height: 410px;
    margin: 0;
  }

  .logo{
    width: 40px;
    height: 40px;
  }
  .featured h1{
    padding-top: 10px;
  }
  .featured p, .featured a{
    font-size: 12px;
  }
  .featured{
    text-align: center;
  }


  .youtube img{
    width: 100px;
    height: 40px;
    margin: 10px;
  }
}
